{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">
{% endblock %}

{% block content %}
<div class="container py-4">
    <h2 class="mb-4">All Books</h2>
    
    <div class="book-container">
        <div class="row">
            {% for book in books %}
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                    <div class=" card book-card h-100">
                        <div class="card-img-wrapper">
                            {% if book.image %}
                                <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
                            {% else %}
                                <img src="https://via.placeholder.com/150" class="card-img-top" alt="{{ book.title }}">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-truncate">{{ book.title }}</h6>
                            <p class="card-text small text-muted mb-2">{{ book.author }}</p>
                            <p class="card-text price">${{ book.price }}</p>
                            <a href="{{ book.get_absolute_url }}" class="btn btn-sm btn-outline-primary w-100">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}