{% extends 'base.html' %}

{% block content %}
<div class="row">
    <a href="{% url 'book_detail' book.id %}" style="text-decoration: none; color: inherit; display: flex;">
        <div class="col-md-4">
            {% if book.image %}
                <img src="{{ book.image.url }}" class="img-fluid" alt="{{ book.title }}">
            {% else %}
                <img src="https://via.placeholder.com/300" class="img-fluid" alt="{{ book.title }}">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>{{ book.title }}</h1>
            <p><strong>Author:</strong> {{ book.author }}</p>
            <p><strong>Price:</strong> ${{ book.price }}</p>
            <p><strong>Category:</strong> {{ book.category }}</p>
            <p><strong>Description:</strong></p>
            <p>{{ book.description }}</p>
        </div>
    </a>
</div>
{% endblock %}